<tr th:each="question : ${question}">
					<div class="container text-left" style="line-height: 80%; max-width: 100%;">
						<h2 class="list-group-item-heading" th:text="${question.question}"></h2>

					</div> 
					<form action="">
						<div class="row">
							<div class="col">
								<label for="option1" class="radio-inline">
									<input type="radio" th:value="${question.option1}" id="option1" name="userAnswer"
										required>
									<h2 th:text="${question.option1}"></h2>
								</label>
							</div>

							<div class="col">
								<label for="option2" class="radio-inline">
									<input type="radio" th:value="${question.option2}" id="option2" name="userAnswer"
										required>
									<h2 th:text="${question.option2}"></h2>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label for="option3" class="radio-inline">
									<input type="radio" th:value="${question.option3}" id="option3" name="userAnswer"
										required>
									<h2 th:text="${question.option3}"></h2>
								</label>
							</div>
							<div class="col">
								<label for="option4" class="radio-inline">
									<input type="radio" th:value="${question.option4}" id="option4" name="userAnswer"
										required>
									<h2 th:text="${question.option4}"></h2>
								</label>
							</div>

						</div>

						<div class="m-6">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>

					</form>
				</tr>
				
				
  <div class="form-group">
	  <label for="option"> </label>  <h2 th:text="${question.question}"> </h2> </label>
	  <select class="form-control" id="option">
	  <option th:value="${question.option1}"></option>
      <option th:value="${question.option2}"></option>
      <option th:value="${question.option3}"></option>
      <option th:value="${question.option4}"></option>
	  
	  </select>
  </div>				